{% extends "myapp/base.html" %}

<body class="login">
  <div class="content">
{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" class="login-form" action="{% url 'login' %}">
{% csrf_token %}
<div class="form-group">

  <h3 class="form-title">Sign In To Your Account</h3>

  <div class="alert alert-danger msg-login display-hide">
      <button class="close" data-close="alert"></button>
      <span>
      Please enter username and password. </span>
  </div>
  <div class="form-group">
      <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
      <label class="control-label visible-ie8 visible-ie9">{{ form.username.label_tag }}</label>
      <input class="form-control form-control-solid placeholder-no-fix"  autocomplete="off" type="text" name="username" id="username" value="" placeholder="Username"/>
  </div>
   <div class="form-group">
      <label class="control-label visible-ie8 visible-ie9">{{ form.password.label_tag }}</label>
      <input class="form-control form-control-solid placeholder-no-fix" autocomplete="off"  type="password" name="password" id="password" placeholder="Password"/>
  </div>


<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}