{% extends 'myapp/base.html' %}
{% block content %}
<table style="table.equalDevide tr td { width:25%; }; width:800px;">
  {% for record in records %}
        <div class="person" style="background-color: {% cycle '#e1e6ef' 'white' %}">
				<tr>
        <td>
        <td><a href="{% url 'person_detail' pk=record.pk %}">{{ record.last_nm_txt }}, {{ record.first_nm_txt }}</a></td>
        <td>{{ record.address_street1 }}</td>
        <td><div class="date">Added: {{ record.add_dt }}</div></td>
        </tr>
				</div>
	{% endfor %}
</table>
{% endblock content %}