{% extends 'myapp/base.html' %}
{% block content %}
<div class="pagination">
    <span class="step-links">
        <a href="?page={1}" class="btn btn-info btn-md"><span class="glyphicon glyphicon-fast-backward"></span></a>
        {% if records.has_previous %}
            <a href="?page={{ records.previous_page_number }}" class="btn btn-info btn-md"><span class="glyphicon glyphicon-backward"></span></a>
        {% endif %}

        <span class="current">
            Page {{ records.number }} of {{ records.paginator.num_pages }}
        </span>

        {% if records.has_next %}
            <a href="?page={{ records.next_page_number }}" class="btn btn-info btn-md"><span class="glyphicon glyphicon-forward"></span></a>
        {% endif %}
    </span>
    <a href="?page={{ records.paginator.num_pages }}" class="btn btn-info btn-md"><span class="glyphicon glyphicon-fast-forward"></span></a>
		<a href="{% url 'person_new' %}" class="btn btn-info btn-md"><span class="glyphicon glyphicon-plus"></span></a>
</div>
<div class="table-container">
<table class="table table-reflow table-striped table-bordered sortable table-hover table-condensed> 
<thead>
  <tr role="row" class="heading">
    <th width="15%">Name</th>
    <th>Birth Date</th>
    <th width="15px">Address</th>
    <th>Phone 1</th>
    <th>Phone 2</th>
    <th>Phone 3</th>
    <th>Email</th>
    <th>Nickname</th>
    <th>Added</th>
  </tr>
</thead>
<tbody>
	{% for record in records %}
				<tr>
        <td><a href="{% url 'person_detail' pk=record.pk %}">{{ record.last_nm_txt }}, {{ record.first_nm_txt }} {{ record.middle_nm_txt }} {{ record.suffix_txt }} {{ record.prefix_txt }}</a></td>
        <td>{{ record.birth_dt |date:"m/d/y" }}</td>
        <td>{{ record.address_street1 }} {{ record.address_street1 }}, {{ record.address_street2 }} {{ record.city_cd }} {{ record.state_cd }} {{ record.zip_cd }}</td>
        <td>{{ record.phone1_number }}</td>
        <td>{{ record.phone2_number }}</td>
        <td>{{ record.phone3_number }}</td>
        <td>{{ record.email_txt }}</td>
        <td>{{ record.nickname_txt }}</td>
        <td><div class="date">{{ record.add_dt | date:"m/d/y"}}</div></td>
        </tr>
		{% endfor %}
</tbody>
</table>
</div>
<div class="pagination">
    <span class="step-links">
        <a href="?page={1}" class="btn btn-info btn-md"><span class="glyphicon glyphicon-fast-backward"></span></a>
        {% if records.has_previous %}
            <a href="?page={{ records.previous_page_number }}" class="btn btn-info btn-md"><span class="glyphicon glyphicon-backward"></span></a>
        {% endif %}

        <span class="current">
            Page {{ records.number }} of {{ records.paginator.num_pages }}
        </span>

        {% if records.has_next %}
            <a href="?page={{ records.next_page_number }}" class="btn btn-info btn-md"><span class="glyphicon glyphicon-forward"></span></a>
        {% endif %}
    </span>
    <a href="?page={{ records.paginator.num_pages }}" class="btn btn-info btn-md"><span class="glyphicon glyphicon-fast-forward"></span></a>
</div>
{% endblock content %}
